/**** AI Dashboard Styles ****/

/*
Defines style for the lower info area of each AI item
 */

.aifield{
	border-top: 1px solid rgb(152,152,152);
	padding-top: 6px;
	padding-bottom: 3px;
	cursor: pointer;
}

.aidetails{
	float: left;
	margin-right: 4px;
    font-size: 10px;
    vertical-align: top;
}

.spc{
    margin-right: 15px;
}

.float-right {
	float: right;
}

.status{
  background-color: lightblue;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

.aioptions-form{
	font-size: 10px;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}